<div class="p-4">
  <div class="flex flex-col gap-4 mb-4">

    <div class="flex w-full justify-end">
      <button class="bg-blue-500 text-white px-4 py-2 rounded" [routerLink]="['/create']"
        routerLinkActive="router-link-active">Crear Tarea</button>
    </div>
    <div class="flex gap-4 mb-4">
      <mat-button-toggle-group name="filter" aria-label="Filter" [(ngModel)]="filter">
        <mat-button-toggle value="all" (click)="setFilter('all')">Todas</mat-button-toggle>
        <mat-button-toggle value="completed" (click)="setFilter('completed')">Completadas</mat-button-toggle>
        <mat-button-toggle value="pending" (click)="setFilter('pending')">Pendientes</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div *ngFor="let task of filteredTasks" class="p-4 border border-gray-300 rounded flex flex-col">
      <div class="felx flex-col flex-grow gap-2">
        <h2 class="text-lg font-semibold">{{ task.name }}</h2>
        <p>Fecha límite: {{ task.deadline | date:'MMM dd, h:mm a'}}</p>
        <p>Estado: <span [ngClass]="{'text-green-500': task.completed, 'text-red-500': !task.completed}">{{
            task.completed ? 'Completada' : 'Pendiente' }}</span></p>
        <div class="persons">
          <h4 class="text-md font-medium">Personas asociadas:</h4>
          <ul class="list-disc list-inside text-justify">
            <li *ngFor="let person of task.persons">
              {{ person.fullName }} ({{ person.age }} años) - Habilidades: {{ person.skills.join(', ') }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex w-full justify-end mt-2 gap-2">
        <button *ngIf="!task.completed" class="bg-green-500 text-white px-4 py-2 rounded"
          (click)="onComplete(task)">Completar</button>
        <button *ngIf="!task.completed" class="bg-blue-500 text-white px-4 py-2 rounded" [routerLink]="['/edit',task.id]"
          routerLinkActive="router-link-active">Editar</button>
      </div>
    </div>
  </div>
</div>
